* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    margin: 0;
    height: 30px;
    padding: 5px;
    background-color: cadetblue;
}

#navbar {
    display: none;
}

/* for side navigation w/o animation */
.openbtn {
    font-size: 30px;
    width: 100%;
    position: absolute;
    padding: 0 0 0 10px;
    cursor: pointer;
}

.sidenav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  } 
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

/* welcome section */
#welcome-section {
    width: 100%;
    height: 650px;
    background-color: cadetblue;
    font-size: 4vw;
    padding: 50px;
}

#welcome-section > h1 {
    margin-top: 100px;
}


.project-tile {
    display: block;
    max-width: 100%;
    height: 300px;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid #000;
    margin: 10px 5px;
}

img {
    display: block;
    margin: auto;

}

@media (min-width: 1200px) {
    #navbar  {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;

    }
/* these breaks the display when opening the sidebar from small screen to wide screen w/o
clicking the "closeNav" */
    .sidenav {
        display: flex;
        position: relative;
        width: 100%;
        height: auto;
        background-color: cadetblue;
        color: #000;
    }

    .openbtn {
        display: none;
    }

    .sidenav .closebtn {
        display: none;
    }

/* tried selecting <a> element through its class */
    .sidenav > a{
        text-decoration: none;
        text-align: center;
        font-size: 1.2em;
        color: #000;
        margin: 0 10px 0 10px;
        padding: 0 15px;
    }

    a:hover {
        background-color: gray;
        border-radius: 5px;
    }

    #welcome-section {
        width: 100%;
        height: 650px;
        font-size: 3vw;
        text-align: center;
        padding: 50px;
    }

    .project-tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 20px;
    }
}
