body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    grid-row-gap: 25px;
}

#projects > p {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
}

@media (min-width: 1200px) {
    #grid-container {
        grid-template-columns: auto auto auto;
    }
}


@media (min-width: 768px) and (max-width: 1199px) {
    #grid-container {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 300px) and (max-width: 767px) {
    #grid-container {
        grid-template-columns: auto;
        justify-content: center;
    }
}